body{
  background:blanchedalmond;
  border: 2px solid red;
  padding:2em;  
}
.container{
  display:flex;
  flex-direction:column;
  min-height:100vh;
  background:tan;
  justify-content:space-evenly;
  text-align:center;
  font-size:xx-large;
  
  
}
.a{
  height:20%;
  border:2px solid black;
  align-items:center;
  margin:0.5em;
  min-height:10vh;
  flex-grow:5;
}
.b{
  height:60%;
  border:2px solid black;
  margin:0.5em;
  min-height:60vh;
  flex-grow:5
}
.c{
  height:20%;
  border:2px solid black;
  margin:0.5em;
  flex-direction:row;
  min-height:10vh;
  flex-grow:5;
  
}

@media(min-width:600px){
  .container{flex-direction:column;
  }

}
@media(min-width:600px){
     .container{
      flex-direction:column;
      flex-wrap:wrap;
     }
     .c{
      flex-direction:wrap;
     }

}
  
  
  
  
  



